.nav {
  position: absolute;
  right: 10rem;
}

.nav > * {
  margin: 0 20px;
  color: white;
  font-weight: 500;
}

.dropdownMenu{
  display: none;
}

.dropdown:hover .dropdownMenu {
  display: block;
  padding: 5px 8px;
  margin-top: 190px;
  background: gray;
  list-style-type: none;
}

.dropdown:hover .dropdownMenu > *{
  padding: 10px;
}
.dropdown:hover .dropdownMenu > li > *{
  color: white;
  text-decoration: none;
}

.hero{
  background: url("../assets/img/background.png");
  height: 100vh;
  padding: 150px;
}

.herotext{
  padding: 30px;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  border: 5px solid rgba(255, 136, 0, 0.808);
}

.cta{
  margin: 20px;
  padding: 15px;
  border-radius: 1px solid rgba(255, 136, 0, 0.808);
  background-color: rgba(255, 136, 0, 0.808);
  color: white;
  font-size: large;
  font-weight: 500;
  text-decoration:none;
}

.cta:hover{
  color: white;
  background: gray;
  transition: all .3s;
}

#part1{
  background: black;
  padding: 30px;
}

#part2{
  background: rgba(0, 0, 0, 0.658);
  padding: 30px;
  box-shadow: 15px 15px 5px black, -15px -15px 5px black;
  position: relative;
}

#part3{
  background: #171a1f;
}

.box {
  background: gray;
  margin: 20px;
  width: 100px;
  height: 100px;
}

.part2text{
  color: yellow;
  font-size: 50px;
  font-weight: lighter;
}

.service{
  width: 300px;
  margin: 20px;
  border: 1px solid rgba(255, 136, 0, 0.808);
  padding: 20px;
  color: white
}

.service:hover{
  color: white;
  background: rgba(255, 136, 0, 0.808);
  transition: all .2s;
}

/* 
.bigText{
  max-width: 1232px;
  color: #21242a;
  font-size: 223px;
  font-weight: 800;
  line-height: 209px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #171a1f;
  padding: 50px 0;
  text-transform: uppercase;
  overflow: hidden;
  z-index: -1;
} */