.nav {
  position: absolute;
  right: 10rem;
}

.nav > * {
  margin: 0 20px;
  color: white;
  font-weight: 500;
}

.dropdownMenu{
  display: none;
}

@media (min-width: 992px) {
  .dropdown:hover > .dropdownMenu {
    display: block;
    position: absolute;
    padding: 10px 38px;
    margin-top: 15px;
    background: gray;
    list-style-type: none;
    
  }
  .service {
    margin: 20px 5px;
    padding: 50px 10px;
    border: 6px solid #e5e7e9;
    text-align: center;
    width: 20vw;
  }
  .dropdown:hover .dropdownMenu > *{
    padding: 11px;
  }
  .dropdown:hover .dropdownMenu > li {
    width: 200px;
  }
  .dropdown:hover .dropdownMenu > li > *{
    color: white;
    text-decoration: none;
  }

  .dropdown:hover .dropdownMenu > li:hover {
    background-color: rgba(255, 136, 0, 0.808);
  }

  .company-culture{
    padding: 40px;
    padding-left: 15rem;
    font-size: 40px;
  }
  
  .cta{
    margin: 30px;
    padding: 15px;
    border-radius: 1px solid rgba(255, 136, 0, 0.808);
    background-color: rgba(255, 136, 0, 0.808);
    color: white;
    font-size: large;
    font-weight: 500;
    text-decoration:none;
    cursor: pointer;
  }

  .box {
    /* background: gray; */
    margin: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .herotext{
    padding: 30px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    border: 5px solid rgba(255, 136, 0, 0.808);
  }
  #part4{
    padding: 150px;
    background: #333;
    /* position: relative; */
  }
  .resource-text{
    font-size: 20px;
  }
  .resource-text div h2{
    font-size: 40px;
  }
}

.serv{
  margin: 20px 5px;
  padding: 40px 10px;
  border: 2px solid #e5e7e9;
  text-align: center;
}

.serv h4 {
  text-transform: uppercase;
  font-weight: bold;
  /* padding: ; */
}

.serv p {
  color: #9b9b9b;
  font-size: 14px;
  /* padding: 10px */
}

.serv:hover{
  transition: .3s;
  background-color: rgba(255, 136, 0, 0.808);
  color: white;
}


.service {
  margin: 20px 5px;
  padding: 50px 10px;
  border: 6px solid #e5e7e9;
  text-align: center;
  width: 80vw;
}


.hero{
  background: url("../public/assets/img/background.png");
  height: 100vh;
  padding-top: 105px;
  /* position: relative; */
}

.herotext{
  padding: 30px;
  font-size: 40px;
  font-weight: 400;
  color: white;
  border: 5px solid rgba(255, 136, 0, 0.808);
}

.cta{
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 1px solid rgba(255, 136, 0, 0.808);
  background-color: rgba(255, 136, 0, 0.808);
  color: white;
  font-size: small;
  font-weight: 500;
  text-decoration:none;
  cursor: pointer;
}

.cta > * {
  text-decoration: none;
  color: white;
}

.cta > *:hover{
  color: none
}

.cta:hover{
  color: white;
  background: rgba(128, 128, 128, 0.473);
  transition: all .4s;
}


#part1{
  background: black;
  padding: 30px;
}

#part2{
  background: rgba(0, 0, 0, 0.658);
  padding: 30px;
  box-shadow: 15px 15px 5px black, -15px -15px 5px black;
}

#part3{
  background: #171a1f;
  padding: 50px;
}

#part4{
  background: #333;
}

.resource{
  background-color: rgba(0, 0, 0, 0.658);
  /* opacity: 0.4; */
}

.resource-text{
  background-image: url("../public/assets/img/resource-bg.jpg");
  background-size: cover;
  padding: 20px;
  box-shadow: 0 46px 34px -30px rgba(0,0,0,.34);
  font-weight: bold;
  font-size: 14px;
}

.resource-text div h2{
  font-size: 30px;
}

.resource-text > *{
  margin-top: 30px;
  padding: 40px;
  /* width: 700px; */
  color: white
}

.box {
  /* background: gray; */
  margin: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.part2text{
  color: yellow;
  font-size: 50px;
  font-weight: lighter;
}

.service {
  margin: 20px 5px;
  padding: 50px 10px;
  border: 6px solid #e5e7e9;
  text-align: center;
  width: 80vw;
}

.service .service-icon {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 168px;
  height: 92px;
  background-color: #fff;
  transform: translateX(-50%);
}

.service h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.service p {
  color: #9b9b9b;
  font-size: 14px;
}

.service:hover{
  transition: .3s;
  background-color: rgba(255, 136, 0, 0.808);
  color: white;
}

.services{
  background:#171a1f;
  z-index: 99;
  padding: 5rem 0;
  color: white
}

.address{
  width: auto;
  text-align: center;
  margin: 25px;
}

#footer{
  background: #171a1f;
  background-image: url("../public/assets/img/footerbg.jpg");
  padding: 4em 0;
  color: white;
  font-size: 15px;
  z-index: 99;
  position: relative;
  bottom: 0;
}

.company-culture{
  background-color: #171a1f;
  box-shadow: 5px 5px 15px #171a1f, -5px -5px 15px #171a1f;
  z-index: 99;
  text-align: left;
  color: whitesmoke;
}

.form {
  padding: 5rem;
  background:#171a1f
}

.contact{
  background: url("../public/assets/img/contact.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 105px
}